*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
}
main{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 105px;
    height: 100vh;
}
.caixa{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 30px ;
    transition: 0.5s;
    cursor: pointer;
    border: solid 1px ;
}
#caixa2 > img{
    width: 175px;
}
.caixa:hover{
    transform:scale(1.2);
    border: none;
}
#caixa1:hover{
    box-shadow: 1px 2px 12px 10px rgba(255, 68, 0, 0.562);
}
#caixa2:hover{
    box-shadow: 1px 2px 12px 10px rgba(0, 0, 255, 0.349);
}
